.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction__title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}

.introduction__text {
  color: #ddd;
  text-align: center;
  font-size: 30px;
  padding: 8px;
  margin-bottom: 56px;
}

.introduction__icons svg {
  margin: 0 16px;
  transition: all 400ms ease-in-out;
}

.introduction__icons svg:hover {
  color: #ccc !important;
  transition: all 200ms ease-in-out;
}
