.container--navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 80px;
}

.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 64px;
}

.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__navlink {
  color: #f2f2f2;
  text-align: center;
  padding: 4px 0px;
  margin: 0 30px;
  text-decoration: none;
  font-size: 20px;
  height: 100%;
}

.navbar__navlink--active {
  font-weight: bold;
}

.navbar__navlink:hover {
  border-bottom: 2px solid white;
  border-radius: none;
}

.navbar__languages {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 165px;
}

.navbar__languages__flag {
  height: 25px;
}

.navbar__languages__flag img {
  width: 40px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
