body {
  background: rgb(60, 53, 206);
  background: -moz-linear-gradient(
    90deg,
    rgba(60, 53, 206, 1) 0%,
    rgba(146, 73, 232, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(60, 53, 206, 1) 0%,
    rgba(146, 73, 232, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(60, 53, 206, 1) 0%,
    rgba(146, 73, 232, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c35ce",endColorstr="#9249e8",GradientType=1);
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

.container {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* .contentText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 16px;
  width: 100%;
  max-width: 1248px;
} */
